@import "./bootstrap.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-align: center;
}

.img {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.cursor-poiner {
  cursor: pointer;
}

li {
  list-style: none;
}
